/*
	Backgrounds
*/

.bgd1 { background-image: url(img/bgd1.jpg) !important; } 
.bgd2 { background-image: url(img/bgd2.jpg) !important; } 
.bgd3 { background-image: url(img/bgd3.jpg) !important; } 
.bgd4 { background-image: url(img/bgd4.jpg) !important; } 
.bgd5 { background-image: url(img/bgd5.jpg) !important; }
.bgd6 { background-image: url(img/bgd6.jpg) !important; }
.bgd7 { background-image: url(img/bgd7.jpg) !important; }
.bgd8 { background-image: url(img/bgd8.jpg) !important; }
.bgd9 { background-image: url(img/bgd9.jpg) !important; }
.bgd10 { background-image: url(img/bgd10.jpg) !important; }
.bgd11 { background-image: url(img/bgd11.jpg) !important; }
.bgd12 { background-image: url(img/bgd12.jpg) !important; }
.bgd13 { background-image: url(img/bgd13.jpg) !important; }
.bgd14 { background-image: url(img/bgd14.jpg) !important; }
.bgd15 { background-image: url(img/bgd15.jpg) !important; }
.bgd16 { background-image: url(img/bgd16.jpg) !important; }
 

.bgn1 { background-image: url(img/bgn1.jpg) !important; } 
.bgn2 { background-image: url(img/bgn2.jpg) !important; } 
.bgn3 { background-image: url(img/bgn3.jpg) !important; } 
.bgn4 { background-image: url(img/bgn4.jpg) !important; } 
.bgn5 { background-image: url(img/bgn5.jpg) !important; } 
.bgn6 { background-image: url(img/bgn6.jpg) !important; } 
.bgn7 { background-image: url(img/bgn7.jpg) !important; } 
.bgn8 { background-image: url(img/bgn8.jpg) !important; } 
.bgn9 { background-image: url(img/bgn9.jpg) !important; } 
.bgn10 { background-image: url(img/bgn10.jpg) !important; } 
.bgn11 { background-image: url(img/bgn11.jpg) !important; } 
.bgn12 { background-image: url(img/bgn12.jpg) !important; } 
.bgn13 { background-image: url(img/bgn13.jpg) !important; } 
.bgn14 { background-image: url(img/bgn14.jpg) !important; } 
.bgn15 { background-image: url(img/bgn15.jpg) !important; }
.bgn16 { background-image: url(img/bgn16.jpg) !important; }
.bgn17 { background-image: url(img/bgn17.jpg) !important; }
.bgn18 { background-image: url(img/bgn18.jpg) !important; }
.bgn19 { background-image: url(img/bgn19.jpg) !important; }
.bgn20 { background-image: url(img/bgn20.jpg) !important; }

/*
	General stuff
*/
.bg{
	/* position: absolute; */
	width: 100%;
	height: 100%;
	/*background: url('img/bgd1.jpg') fixed center / cover;*/
	z-index: -1;
	background: url('img/bgd1.jpg') fixed center / cover;
	position: fixed;
	/* filter: url(img/blur.svg#blur);
	-webkit-filter: url(img/blur.svg#blur); */
}

#toggleBlur{
    position: absolute;
    left: 0;
    top: 0;
	transition: opacity 0.8s;
	opacity: 0.1;
}

#toggleBlur:hover{
	transition: opacity 0.8s;
	opacity: 1;
}

* {
	margin:0;
	padding:0;
}

html{
	/*background: url('img/bgd1.jpg') fixed center / cover;*/
}

body {
	font: 10pt "Open Sans", "Segoe UI", "Verdana", "Arial";
}

/*	filter: url(blur.svg#blur); */

#bottom-margin{
	clear: both;
	height: 10px;
}

#title{
	word-break: break-all;
	font: 32pt "Open Sans", "Segoe UI", "Verdana", "Arial";
	text-align: center;
	color: rgba(255, 255, 255, 1);
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
	line-height: 130px;
}

li, ul{
	list-style-type: none;
}

p { 
	color: #FFF;
	transition: color 2s;
}

a {
	color: #FFF;
	transition: color 2s;
	text-decoration: none;
}

h1 {
	margin: 0.67em;
}

.bracket:active,
.bracket:focus {
	outline: none;
}

.bracket::before,
.bracket::after{
	display: inline-block;
	opacity: 0;
	transition: transform 0.3s, opacity 0.2s;
}

.bracket::before{
	margin-right: 5px;
	content: '[';
	transform: translateX(10px);
}

.bracket::after{
	margin-left: 5px;
	content: ']';
	transform: translateX(-10px);
}

.bracket:hover::before,
.bracket:hover::after{
	opacity: 1;
	transform: translateX(0px);
}


h1 {
	white-space: nowrap;
	color: #FFF;
	font-weight: normal;
	transition: color 2s;
}

/*
	div blocks
*/

#todo form {
	height: 100%;
}

#todobox {
	width: calc( 100% - 20px );
	height: calc( 100% - 72px );
	margin-left: 10px;
	margin-right: 10px;
	background-color: rgba(0,0,0,0);
	color: #FFFFFF;
	border: 0px;
	resize: none;
	text-align: center;
	font: 10pt "Open Sans", "Segoe UI", "Verdana", "Arial";
}

.center {
	width: 800px;
	margin: 0 auto;
}

.top{
	height: 130px;
	transition: height 1s;
}

.top p{
	display: inline
}

#weather2{
	text-align: right;
	float: right;
}

.d1x1 {
	text-align: center;
	height: 190px;
	width: 190px;
	margin: 4px;
	float: left;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	transition: background-color 2s;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.1);
} 

.d1x1:hover {
	background-color: rgba(0, 0, 0, 0.7);
	transition: background-color 1s;
}


.d1x1 a:hover{
    color:#FF0000;
    text-decoration: underline;
	text-shadow: 1px 1px 2px red;
   }
   
 .d1x1 h1:hover{
    color:#F0FFFF;
     text-shadow: 2px 2px 5px red;
   }

.d2x1 {
	float: left;
	width: 390px;
	height: 190px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	margin: 4px;
	transition: background-color 2s;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.1);
}

.d2x1:hover {
	background-color: rgba(0, 0, 0, 0.7);
	transition: background-color 1s;
}

.d2x1Child {
	width: 100%;
	overflow: auto;
	height: 100%;
	padding-left: 5px;
	padding-right: 15px;
}

.d4x2 {
	float: left;
	width: 790px;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 4px;
	transition: background-color 2s;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.1);
}

.d4x2:hover {
	background-color: rgba(0, 0, 0, 0.7);
	transition: background-color 1s;
}

#whatifContainer a{
	text-decoration: none;
	color: #fff;
}

#whatifContainer a::after, #whatifContainer a::before {
	content: '';
	margin: 0;
}

#whatifContainer:hover a {
	color: #000;
	text-decoration: underline;
}

.feedEkList{
	display: inline;
	margin: 0;
	padding: 0;
}

#xkcdContainer, #whatifContainer, #prequelContainer, #prequelDate{
	display: none;
}

#xkcd, #whatif, #prequel{
	margin: 2%;
}

#prequelContainer h1{
	text-align: center;
}

#xkcdContainer, #whatifContainer{
	text-align: center;
}


#whatifContainer:hover{
	background-color: rgba(255, 255, 255, 1);
	transition: background-color 1s;
	color: #111111;
}

#whatifContainer:hover p, #whatifContainer:hover h1{
	color: #111111;
}

#whatifContainer:hover #whatif a{
	color: rgba(80, 80, 255, 1);
}

#whatif{
	font-family: Georgia;
}

#whatifContainer:hover h1 a{
	color: #000000;
}

#weatherContainer{
	width: 66%;
	margin: auto;
	height: 0px;
	overflow: hidden;
}

#weather, #weather2{
	display: inline-block;
	width: auto;
	font-size: 22pt;
	font-family: Leelawadee, arial;
	color: rgba(255, 255, 255, 1);
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

#weather2{
	float: right;
}

/*
	Search
*/

.searchContainer {
	text-align: center;
	margin-bottom: 30px;
}

.searchForm {
	display: inline-block;
}

.searchBar {
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
	width: 20px;
	height: 20px;
	padding: 0;
	text-align: center;
	outline: 0;
	transition: all 1s;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.1);
}

.searchBar:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 1);
	transition: all 1s;
	background-position: right center;
}

.searchBar:focus {
	background-color: rgba(0, 0, 0, 1);
	cursor: text;
	width: 140px;
	transition: all 1s;
}

input:focus::-webkit-input-placeholder{
    color: transparent!important;
}
input:focus::-moz-placeholder{
    color: transparent!important;
}

/*
	Scaling
*/

@media screen and (max-width: 840px){
	html {
		font-size: 12pt;
	}
	
	.center {
		width: 400px;
	}
	
	.d4x2 {
		width: 392px;
	}
	
	.top {
		height: 80px;
	}
	
	#title {
		line-height: 80px;
		height: 80px;
	}
	
	#weather {
		font-size: 12pt;
		width: auto;
		float: left;
	}
	
	#weather2 {
		font-size: 12pt;
		width: auto;
		float: right;
	}
	
	img {
		width: 95%;
	}
}

@media screen and (max-width: 440px){	
	.center {
		width: 100%;
	}
	
	.d1x1 {
		width: 48%;
		padding-bottom: 2%;
		margin: 1%;
		float: left;
		overflow: hidden;
		transition: background-color 2s;
		border-style: none;
	} 
	
	.d2x1 {
		margin: 1%;
		width: 98%;
		border-style: none;
	}
	
	.d2x1Child {
		width: 100%;
		height: 100%;
		padding: 0;
	}
	
	.d4x2 {
		margin: 1%;
		width: 98%;
		border-style: none;
	}
	
	#title {
		height: 80px !important;
	}
	
	#weatherContainer {
		display: none !important;
	}
}